/* Table of matters */
/* 
    1. Global HTML
    2. Background images
    3. Profile card
      3.1 Profile infos
      3.2 Socieal networks
*/

/* 1. Global HTML */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 10px;
  font-weight: 700;
}

body {
  height: 100vh;
  background: #19a2ae no-repeat;
  overflow: hidden;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 2. Background images */
.bg-top {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 50%;
  top: -50%;
}
.bg-bottom {
  position: absolute;
  z-index: -1;
  height: 115%;
  width: 65%;
  right: -15%;
  bottom: -65%;
}

/* 3. Profile card */
.card {
  height: 350px;
  width: 320px;
  background-color: white;
  border-radius: 5%;
  overflow: hidden;
}

/* 3.1 Profile infos */
.card-header {
  height: 40%;
  background: url(/images/bg-pattern-card.svg);
}

.card-body {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body img {
  margin-top: -25%;
  background-color: white;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.card-body-infos {
  padding: 5% 0%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-body-infos h1 {
  color: #2d3248;
}
.card-body-infos h2 {
  color: #6a6f81;
  padding-left: 3%;
  font-size: 1.5rem;
  font-weight: 400;
}
.card-body h3 {
  color: #6a6f81;
  font-size: 1.2rem;
  font-weight: 400;
}

/* 3.2 Social networks */
.card-footer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px #e7e7e7 solid;
  flex: 1;
}
.card-footer h1 {
  color: #2d3248;
}
.card-footer h2 {
  color: #969696;
  padding-top: 5%;
  font-weight: 400;
  font-size: 0.9rem;
}
.card-footer-followers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.card-footer-likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.card-footer-photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
